@font-face {
    font-family: 'EduQLD';
    src: url(../assets/fonts/Edu_QLD_Beginner/EduQLDBeginner-VariableFont_wght.ttf);
    font-weight: 700;
    
}


.header{
    background-color: rgb(255, 255, 255);
    font-family:  'EduQLD', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    overflow: visible;
    height: 100px;
    width: 100vw;
    box-shadow: 0px 0px 10px black;
    backdrop-filter: blur(20px);
    z-index: 10;
    
    
    .nav{
        display: flex;
        flex-direction: row;
        height: fit-content;
        width: fit-content;
        
        ul{
            display: flex;
            flex-direction: row;
            list-style: none;
            gap: 30px;
            margin-top: 37px;

            li {
                text-shadow: 1px 1px 1px black;   

                &:hover{
                    color: rgb(255, 255, 255);
                }
                
                &.visible{
                   color: rgb(19, 129, 231);
                    text-shadow: 1px 1px 1px rgb(0, 0, 0);       
                }

                &.visible::after{
                    content: '';
                    display: flex;
                    height: 5px;
                    animation: widthAfter 1.5s forwards;
                    /*Animations*/

                        @keyframes widthAfter {
                            0% {
                                width: 0;
                                background-color: white;
                            }
                            100% {
                                width: 100%;
                                background-color: black;
                            }
                        }


                }

                &.notVisible{
                    color: rgba(255, 255, 255, 0.411) !important;
                }
            }
    
        }

        .button{
            display: none;
            
        }
        
    }
}



@media screen and (max-width: 768px){
    .header{
        width: 100%;

        .nav{
            flex-direction: column;
            align-items: flex-end;
            overflow: visible;
            width: 100vw;
            position: absolute;
            left: 0;



            ul.menuOpen{
                background-color: rgb(31, 28, 28);
                display: flex;
                flex-direction: column;
                position: absolute;
                overflow: hidden;
                height: 50vw;
                width: 100vw;
                gap: 10px;
                top: 60px;
                padding: 5px 10px 10px 10px;
                text-decoration: none;
                list-style: none;
                text-align: center;
                transition: 1.5s ;


                li{
                    background-color: rgb(255, 255, 255);
                    color: rgb(22, 129, 252);
                    font-size: 25px;
                    text-shadow: 1px 1px  1px rgb(0, 0, 0);  
                    padding: 15px 0px; 
                    width: 100%;
                    
                    &:hover{
                        background-color: rgb(255, 255, 255);
                        
                    }

                    &.visible::after{
                        display: none;
                        
                    }
                    
                    
                }
            }

            ul.menuClosed{
                
                position: absolute;
                top: 65px;
                height: 0px;
                overflow: hidden;
                width: inherit;
                transition: 1.5s;
                
                
                li{ 
                    visibility: hidden;
                }
            }


            .button{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                border: none;
                width: fit-content;
                height: 30px;
                padding: 20px 3px;
                margin: 30px 40px 0px 0px;
                cursor: pointer;


                &:hover{
                    box-shadow: 0px 0px 10px black;
                    background-color: rgba(255, 255, 255, 0.301);
                    border-radius: 5px;
                }

                span.iconClosed{
                    display:flex;
                    flex-direction: column;
                    width: 30px;
                    color: rgb(0, 0, 0);
                    border-top: 2px solid currentColor;

                    &:before {
                        content:'';
                        display:block;
                        width:30px;
                        border-top:2px solid currentColor;
                        margin-top:5px;
                        -webkit-transition:.5s;
                        -o-transition:.5s;
                        transition:.5s
                    
                    }

                    &:after{
                        content:'';
                        display:block;
                        width:30px;
                        border-top:2px solid currentColor;
                        margin-top:5px;
                        -webkit-transition:.5s;
                        -o-transition:.5s;
                        transition:.5s
                    }
                }

                span.iconOpen{
                    display:flex;
                    flex-direction: column;
                    width: 30px;
                    color: rgb(0, 0, 0);
                    

                    &:before {
                        content:'';
                        display:block;
                        width:30px;
                        border-top:2px solid currentColor;
                        margin-top:5px;
                        position: relative;
                        top: 1px;
                        transform: rotate(135deg);
                        -webkit-transition:.5s;
                        -o-transition:.5s;
                        transition:.5s
                    
                    }

                    &:after{
                        content:'';
                        display:block;
                        position: relative;
                        width:30px;
                        border-top:2px solid currentColor;
                        margin-top:5px;
                        transform: rotate(-135deg);
                        top: -5.9px;
                        -webkit-transition:.5s;
                        -o-transition:.5s;
                        transition:.5s
                    }
                }
            }
        }

    }

    
}


